.window {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    user-select: none;
}
.background {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.window  h1 {
    position: absolute;
    font-size: 600px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #5A92E7 10.54%, rgba(68, 11, 88, 0.63) 78.1%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    text-decoration: none;
    color: white
}
.window  h2 {
    position: absolute;
    background: linear-gradient(180deg, #251683 0%, rgba(100, 97, 115, 0.99) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info {
    margin-top: 25%;
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.hourly {
    padding: 20px;
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 35px;
    gap: 24px;
    background: linear-gradient(267deg, rgba(211, 210, 218, 0.25) 0%, rgba(143, 143, 143, 0.07) 100%);
    backdrop-filter: blur(12.5px);
    overflow-x: scroll;
}

.hour {
    padding: 0 20px;
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    border-radius: 30px;
    background: rgba(72, 49, 157, 0.20);
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform .2s ease, background .5s ease;
}
.hourly a {
    background-color: transparent;
}

.hour:hover {
    transform: scale(1.1);
    background: #000;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    margin-left: 100px;
    z-index: 2;
    gap: 20px;
}
.search a {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
.search a:hover {
    transform: scale(1.2);
}
.search input {
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background: linear-gradient(267deg, rgba(211, 210, 218, 0.25) 0%, rgba(143, 143, 143, 0.07) 100%);
    backdrop-filter: blur(12.5px);
    padding: 10px 25px;
    outline: none;
    color: #fff;
    font-size: 18px;
    transition: all .5s ease;
}
.search input::placeholder {
    color: #251683;
    font-size: 14px;
}
.search input:focus {
    border: 1px solid #fff;
}


.blurAura {
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(24px);
    z-index: 10;
    transition: all .7s ease;
}
.nonBlur {
    backdrop-filter: blur(0);
}
::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-track {
    height: 10px;
}
::-webkit-scrollbar-thumb {
    height: 10px;
}

.daily {
    height: 100%;
    width: 55%;
    border-radius: 35px;
    background: linear-gradient(267deg, rgba(211, 210, 218, 0.25) 0%, rgba(143, 143, 143, 0.07) 100%);
    backdrop-filter: blur(12.5px);
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}
.daily a {
    width: 20%;
}
.day {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #868686;
    padding: 20px;
    width: 100%;
    height: 80%;
    backdrop-filter: blur(20px);
}
.day:hover {
    backdrop-filter: none;
}